
streamlit==1.45.1


pandas==2.2.3
numpy==2.0.2


plotly==6.0.1
matplotlib


requests==2.32.3
beautifulsoup4==4.13.4
geocoder==1.38.1


transformers==4.50.0
torch
nltk
spacy==3.8.3
deep-translator


pymongo


pycountry==22.3.5
